<form
  id="submitSignup"
  class="d-flex flex-column w-25 h-25 justify-content-center align-items-center"
>
  <input id="email" placeholder="email" type="email" />
  <input id="password" placeholder="password" type="password" />
  <input id="confirmPassword" placeholder="confirm password" type="password" />
  <button class="btn btn-primary" type="submit">Submit</button>
</form>